.scroll-stylling::-webkit-scrollbar {
    height: 6px;    
    width: 8px;
}

.scroll-stylling::-webkit-scrollbar-thumb {
    background: #334155; 
    border-radius: 10px;
}

.scroll-stylling::-webkit-scrollbar-thumb:hover {
    background: #475569; 
}